/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.chat-bubble--triangle {
  z-index: 10;
  position: absolute;
  bottom: 50px;
  left: 2.4%;
  width: 0;
  border-top: 38px solid #ffc815;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  transform: rotate(40deg);
  cursor:pointer;
}

#shape {
  width: 200px;
  height: 200px;
  fill: yellow;
}